/*
	*Main CSS para implementacion directa de sitios.
	
	*La adaptacion del bolierplate y este codigo son esfuerzo del eqipo de ID.A libre
	*con agradecimientos especiales a Juan Palma encargado de la implementacion.
*/

/* ==========================================================================
	Parametros Globales
========================================================================== */
/* @import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap'); */
/* font-family: 'Sen', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700;900&display=swap'); */
/* font-family: 'League Spartan', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&display=swap');
/* font-family: 'Barlow Condensed', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,700;1,300;1,700&display=swap'); */
/* font-family: 'Cormorant Garamond', serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;700&display=swap'); */
/* font-family: 'Rajdhani', sans-serif; */
:root{
	--colorBackDark: #5faaff;
	--colorNuevoUno:#5fffd7;
	--colorBackColor: #ffffff;
	--colorPrincipal: #d19163e5;
	--colorSecundario: #3a434d;
	--colorTexto: var(--colorBackColor);
	--margenGlobal: 6vw;
	--anchoContainer: calc(100vw - (var(--margenGlobal) * 2));
}
h1, h2, h3, h4, h5, h6{
	/* font-family: 'Rajdhani', sans-serif; */
	/* font-family: 'Cormorant Garamond', serif; */
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 700;
}
body, button, input, select, textarea, ::after, ::before{
	/* font-family: 'Rajdhani', sans-serif; */
	/* font-family: 'Cormorant Garamond', serif; */
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	line-height: 1.24;
	letter-spacing: 0.05em;
	color: var(--colorTexto);
}
i::before{
	font-family: inherit;
	font-weight: inherit;
}
.container{
	width: var(--anchoContainer);
}
.anchoFull{
	width: 100vw;
	position: relative;
	margin-left: calc(var(--margenGlobal) * -1);
}
.anchoFullFlex{
	width: 100vw;
	position: relative;
}
	
@-ms-viewport {
	width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
}

@viewport {
	width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
}


/* ==========================================================================
	Estilos visiales para elementos GENERALES
========================================================================== */
.desaparece{
	display: none !important;
	visibility: hidden !important;
	width: 1px !important;
	height: 1px !important;
	position: absolute !important;
	overflow: hidden !important;
	opacity: 0 !important;
	clip: rect(1px 1px 1px 1px) !important;
	
}
.ocultar{
	display: none !important;
}
.opacidad0{
	opacity: 0 !important;
}
.opacidad1{
	opacity: 1 !important;
}
.animar{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.animar1-4{
	-webkit-transition: all 1.4s ease-in-out;
	-moz-transition: all 1.4s ease-in-out;
	-o-transition: all 1.4s ease-in-out;
	-ms-transition: all 1.4s ease-in-out;
	transition: all 1.4s ease-in-out;
}
.colorPrincipal{
	color: var(--colorPrincipal) !important;
}
.colorBackColor{
	color: var(--colorBackColor) !important;
}
p {
	margin-bottom: 1.4em;
}
p:last-of-type {
	margin-bottom: 0;
}







/* ==========================================================================
	Estilos visiales de la ventana pop de avisos
========================================================================== */
div#ventanaPOP {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(0 0 0 / 84%);
	z-index: 99999999;
	transition: all 200ms ease-in-out;
}
	#ventanaPOP .ventanaCerrar {
		width: 28px;
		height: 28px;
		position: absolute;
		top: 18px;
		left: auto;
		right: 18px;
		background: darkred;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		line-height: 0;
		border-radius: 4px;
		padding-bottom: 2px;
		cursor: pointer;
		font-weight: 900;
		transition: all 200ms ease-in-out;
	}
	#ventanaPOP .ventanaCerrar:hover{
		background-color: orangered;
	}
	#ventanaPOP .mensajeBox {
		max-width: 86%;
		height: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 3em;
		background: #fff;
		border: 8px solid #555;
		border-radius: 30px;
		font-size: 120%;
		transition: all 200ms ease-in-out;
	}
		#ventanaPOP button {
			appearance: none;
			padding: 6px 24px;
			margin: 24px 0 0;
			border: 0;
			border-radius: 6px;
			background-color: #444;
			color: #fff;
			cursor: pointer;
			transition: all 200ms ease-in-out;
		}
		#ventanaPOP .mensajeBox button:hover{
			background-color: #000 !important;
		}
		div#ventanaPOP .mensajeBox i:before {
			font-size: 360%;
			margin-bottom: 30px;
			display: block;
		}
	div#ventanaPOP.ok .mensajeBox i:before{
		color: #1ba902;
	}
	div#ventanaPOP.ok .mensajeBox{
		border: 8px solid #1ba902;
	}
	div#ventanaPOP.ok .mensajeBox button{
		background-color: #1ba902;
	}
	div#ventanaPOP.alert .mensajeBox i:before{
		color: #ddaa01;
	}
	div#ventanaPOP.alert .mensajeBox{
		border: 8px solid #ddaa01;
	}
	div#ventanaPOP.alert .mensajeBox button{
		background-color: #ddaa01;
	}
	div#ventanaPOP.error .mensajeBox i:before{
		color: #b42b08;
	}
	div#ventanaPOP.error .mensajeBox{
		border: 8px solid #b42b08;
	}
	div#ventanaPOP.error .mensajeBox button{
		background-color: #b42b08;
	}
















/* ==========================================================================
	Estilos visiales del sitio.
========================================================================== */
	.body{
		/* background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%); */
		background-image: linear-gradient( 150deg,#002661  20%,#92FFC0  100%);
		display: flex;
    	flex-wrap: wrap;
    	flex-direction: column;
	}
	.overflow{
		overflow-y: scroll;
		overflow-x: hidden;
	}
	::-webkit-scrollbar{
		width:1em;		
	}
	::-webkit-scrollbar-track{
		background:rgb(0, 0, 0);
		margin-inline: 1em;
	}
	::-webkit-scrollbar-thumb{
		background:rgb(0, 0, 0) ;
		border-radius:100vw;
	}
	::-webkit-scrollbar-thumb:hover{
		background: linear-gradient(180deg, #daae51 0%,  #d53369 100%);
		border-radius:100vw;
	}
	#botonBrillante{
		position: absolute;
		width: 100px;
		height: 50px;
		left: calc(((1/2) * 100vw) - 50px);
		top: calc(((1/2) * 100vh) - 25px);
		z-index: 100;
		background:linear-gradient(180deg,#4CA1AF 20%, #C4E0E5 50%  , #4CA1AF 80%);
		border-radius: 10px;
		cursor: pointer;
		filter: drop-shadow(0px 0px 50px cyan);
		animation-name:brillo;
		animation-timing-function: cubic-bezier(0.42, 0, 0.01, 1.04);
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-direction: alternate-reverse;
	}
	@keyframes brillo{
		from {transform: scale(1);}
		to {transform:  scale(1.5); filter: drop-shadow(0px 0px 10px cyan) ;
			
		}
	}

	.brio{
		background-color:  #41e1ec;
		width: 0;
		height: 1px;
		position: absolute;
		animation-name: barra;
		animation-timing-function: cubic-bezier(0.42, 0, 0.01, 1.04);
		animation-duration: 1s;
	}
	@keyframes barra{
		from{width:0;}
		to{box-shadow: 0	0	30px	5px	 #41e1ec;width: 99.92vw;}
	}
	#bU{
		bottom: 0;
	}
	#bD{
		top: 0;
	}
	#cU{
		top: 0;
	}
	#cD{
		bottom: 0;
	}
	.cortina{
		width: 100%;
		height: 50vh;
		position: absolute;
		display: flex;
		justify-content: center;
		background:black;
		z-index: 99;
	}
	.cortinas{
		animation: cortina  1.5s 1s cubic-bezier(0.42, 0, 0.01, 1.04) forwards;
	}
	@keyframes cortina{
		from{height: 50%;opacity: 1;}
		90%{opacity: 1;}
		to{height: 1%;opacity: 0;}
	}
	#contenedor{
		width: 100%;
		height: 84vh;
		display: flex;
		flex-wrap: wrap;
	}
	#titulo{
		position:sticky;
		background-color: #002661;
		top:0;
		width: 100%;
		height: 10vh;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		z-index: 10;
	}
	.titulo{
		position:absolute;
		top:0;
		width: 100%;
		height: 10vh;
	}
	#logo{
		width: calc((1 / 15) *100vw);
		height:calc((1 / 15) *100vw);
		margin: calc(100vw / 45) calc(100vw / 45);
	}
	.cubx{
		transform-style: preserve-3d;                          
		animation: rotate 8s 6s infinite cubic-bezier(.42, 0, 0.01, 1.04) alternate;
	}
	.cara{
		width: calc((1 / 15) *100vw);
		height:calc((1 / 15) *100vw);
		position: absolute;
		display: flex;
		filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
	}
	.imgContain{
		width: 100%;
		object-fit: contain;
	}
	#superior {
		transform: rotateX(90deg) translateZ(calc((1 / 30) *100vw));
	}
	#frente {
		background-color: #1572b6 ;
		transform: translateZ(calc((1 / 30) *100vw));
	}
	#atras {
		background-color: #1572b6 ;
		transform: translateZ(calc((-1 / 30) *100vw));
	}
	#derecha {
		background-color: #e44f26 ;
		transform: rotateY(90deg) translateZ(calc((1 / 30) *100vw));
	}
	#izquierda {
		background-color: #e44f26 ;
		transform: rotateY(-90deg) translateZ(calc((1 / 30) *100vw));
	}
	#inferior {
		transform: rotateX(-90deg) translateZ(calc((1 / 30) *100vw));
	}
	 @keyframes rotate {
		0% { transform: rotateX(   0deg ) rotateY(   0deg ) rotateZ(0deg); }
	  100% { transform: rotateX( 360deg ) rotateY( 720deg ) rotateZ(360deg); }
	}  

	#secciones{
		width: calc(100% - ((1/10) * 100vw )) ;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.pt{
		color: #5fffd7;
		font-weight: bold; 
		margin: 10px 0;
		position:relative;
		text-decoration: none;
		font-size: clamp(1rem, 2vw, 2rem); 
		transition: all .5s linear;
	}
	.pt:hover{
		transform: scale(1.1);
		cursor: pointer;
	}
	.pt:active{											
		transform:scale(.9);
	}
	.underline{
		width: 100%;
		height: 100%;
		position:absolute;
		bottom:0;
		transition: all 1.5 cubic-bezier(.42, 0, 0.01, 1.04);
	}
	.underlineActive{
		animation:under 1.5s cubic-bezier(.42, 0, 0.01, 1.04) forwards;
	}
	@keyframes under {
		from{width:0%;
			height: 0;
			position: absolute;
			bottom:0;
			left:50%;
			right:0%;
			}
		to{width:100%;
			left:0;
			right:100%;
			height: 2px;
			transform-origin: 50% 50%;
			background-color: cyan;
			filter: drop-shadow(0px 3px 3px  cyan);
			box-shadow: 0px 0px 3px 3px cyan;}	
	}

	.bloques{
		width: 100%;
		height: 84vh;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.primerBloque{
    	width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
	}
	.bloqueSobreMi {
		width: 100%;
		height: 85%;
		display: flex;
	}
	.tituloyDescripcionSobreMi {
		width: 60%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.portal{
		height:75%;
		position: absolute;
		filter:drop-shadow(0px 3px 3px  cyan);
		box-shadow: 0px 0px 5px 5px cyan;
	}
	#portalA{
		left: 0px;
	}
	#portalB{
		right: 0px;
	}
	.tituloSobreMi {
		width: 40%;
		letter-spacing: 5px;
		height: 16%;
		font-size: clamp(2rem, 5vw, 5rem);
		background: linear-gradient(90deg, #daae51 0%,  #d53369 100%);
		border-radius: 0 20px 20px 0;
		justify-content: center;
		text-align: center;
		align-self: flex-start;
		
	}
	
	a {
		background-color: transparent;
		text-decoration: none;
		color: aquamarine;
		font-size: clamp(2vw , 7vw , 7vw);
	}
	.descripcionSobreMi {
		width: 100%;
		height: 99%;
		position:relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content:space-evenly;
		align-items:center;
	}
	.textoDescripcionSobreMi{
		height: auto;
		font-size: clamp(2rem , 4vw , 3rem);
		text-align: end;
		margin: 0 20px 0 0;
	}
	.imagenSobreMi {
		width: 40%;
		height: 99%;
		display: flex;
		position:relative;
		justify-content:center;
		align-items:center;
		overflow:hidden;
	}
	.imgSobreMi{
		width: clamp(12rem,25vw,25rem);
    height: clamp(12rem,25vw,25rem);
		display: flex;
		opacity: 0;
		border-radius: 50%;
		overflow: hidden;
		justify-content:center;
		align-items:center;
		box-shadow: -3px 0px 10px 3px cyan;
		position: absolute;
		animation:btnPrimer 1.5s cubic-bezier(.42, 0, 0.01, 1.04) forwards;
	}
	.efectoImagen{
		animation:imgPrimer 1s cubic-bezier(.42, 0, 0.01, 1.04) forwards;
	}
	@keyframes imgPrimer{
		from{transform:scale(0); opacity:0;transform-origin: -300% 50% ; }
		to{transform:scale(1); opacity:1;transform-origin: 50% 50% ; }
	}
	@keyframes btnPrimer{
		from{transform:scale(1); opacity:1;}
		to{transform:scale(0); opacity:0;}
	}



.visto{
	box-shadow:0px 0px 10px 10px red;
}


	.efectoBoton{

		animation:btnopacidad 1.5s cubic-bezier(.42, 0, 0.01, 1.04) forwards;
	
	}
	@keyframes btnopacidad{
		from{background-color: chocolate ;}
		to{background-color: rgb(141, 86, 47) ; opacity:6;z-index: 5;}
	}

	.imgPrimerBloque{
		width: 100%;
		height: 100%;
		object-fit: cover;		
	}
	.botoneSobreMi {
		width: 100%;
		height: 10vh;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	.segundoBloque {
		width: 100%;
		height: 85%;
		display: flex;
	}
	.tituloEImgSegundoBloque {
		width: 40%;
		display: flex;
		justify-content: center;
		position: relative;
		align-items: center;
		overflow: hidden;
	}

	.tecnologiaSegundoBloque {
		position:relative;
		width: auto;
		height: 80%;
		display: flex;
		column-gap: 10px;
		flex-wrap: wrap;
		justify-content:space-evenly;
		align-items:center;
	}
	.cajamemorama {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 10px;
	}
	#dgit{
		filter:invert(1);
	}
	.cajameMoramaReposo {
		display: flex;
		gap: 10px;
	}
	.Textoybtn {
		width: 100%;
		height: 80%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.imgTecnologias{
		width:calc(100vw / 13);
		height:calc(100vw / 13);
		display: flex;
		background-color:rgb(0, 0, 0);
		border-radius:20px;
		position:relative;
		transform-origin: 50% 50%;
		cursor: pointer;
	}
	
	.imgTecnologias:hover{
		animation: tecnologiasCubos  .7s infinite linear alternate;
	}
	@keyframes tecnologiasCubos{
		0% { transform:  rotateY(-20deg )   ;
			box-shadow: 5px 0px 3px 3px cyan;}
		100% { transform:  rotateY(20deg )  ;  
			box-shadow: -5px 0px 3px 3px rgb(255, 255, 255);
			}
	}

.descripcionjuego {
    width: 100%;
    height: 100%;
    display: flex;
	position: relative;
    flex-wrap: wrap;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloJuego {
    width: 80%;
    height: 20%;
    display: flex;
	background-color: #000;
	border-radius: 20px 20px 0 0;
    justify-content: center;
    text-align: center;
    font-size: clamp(1vw,7vw,7vw);
    align-items: center;
    border-bottom: solid 3px gray;
    padding: 0 0 10px 0;
}
.comparadorMemorama {
    width: 80%;
    height: 50%;
    background: chocolate;
}
.comMem{
	width: 90%;
	height: 100%;
	display: flex;
    letter-spacing: 5px;
    border-radius: 20px 20px 0 0;
	position: relative;
	left:20px;
    text-align: start;
    font-size: clamp(1rem,3vw,2em);
    align-items: center;
    justify-content: center;
}

.botonesJuego {
    width: 80%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
	border-top: solid 3px gray;
}
.intentoYreset {
    width: 50%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#btnL{
	border-radius: 0 0px 0px 20px;
}
#btnR{
	border-radius: 0 0px 20px 0;
}
.intentosTexto {
    width: 75%;
    height: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(1rem, 2vw, 2rem);
}
.intentosNumero {
    width: 150px;
    height: 50px;
    font-size: clamp(1rem, 2vw, 2rem);
	display: flex;
	border-radius: 20px;
	background-color: chocolate;
	justify-content: center;
	align-items: center;
}
	
	.imgSegundoBloque {
		width: 100%;
		object-fit: cover;
		border-radius:20px
	}
	.descripcionyBotoneSegundoBloque {
	    width: 60%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		position: relative;
		flex-direction: column;
			
	}
	.descripcionSegundoBloque {
		height: auto;
		font-size: clamp(2vw , 2vw , 2vw);
		text-align: start;
		margin: 0 0 0 20px;
		position: absolute;
		left: 0;
	}

	.tercerBloque {
		width: 90%;
		height: 80%;
		
	}
	.camposTercerBloque {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.formulario {
		width: 39%;
		height: 100%;
		display: flex;
		border-radius:20px;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: chocolate;
	}
	.contactoTexto{
		font-size: clamp(1vw, 3vw, 3vw); 
	}
	.contactoTexto {
		align-self: center;
	}
	textarea{
		resize: none;
		border-radius: 15px;
		color:black;
		width: 80%;
	}
	.inpt{
		font-family: 'Rajdhani', sans-serif;
		font-weight: 400;
		line-height: 1.24;
		letter-spacing: 0.05em;
		border-style: none;
		border-radius: 15px;
		color:black;
		height: 5vh;
		width: 80%;
	}
	.botonFormulario {
		width: 100%;
		height: 10%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 5px 0 ;
		justify-content: center;
	}
	.btn {
		width: 150px;
		height: 50px;
		background: chocolate;
		display: flex;
		justify-Content:center;
		align-items: center;
		border-radius: 20px;
		font-size: clamp(1.5rem , 100vw,1.5rem);
	}
	.button{
		width: 150px;
		height: 50px;
		border-style: none;
		background: gray;
		display: flex;
		justify-Content:center;
		align-items: center;
		border-radius: 20px;
		font-size: clamp(1.5rem , 100vw,1.5rem);
	}
	.button:hover{
		cursor: pointer;
	}
	.button:active{
		transform:scale(.9);
	}
	.btno{
		display: none;
	}
	.btn:hover{
		cursor: pointer;
	}
	.btn:active{
		transform:scale(.9);
	}

	footer{
		font-weight: bold;
		width: 100%;
		color:rgb(255, 255, 255);
		background-color: #002661;
		height: 6vh;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
		align-self:flex-end;
		position:sticky;
		bottom: 0;
	}

	.nombre{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		letter-spacing: 16px;
		font-size: clamp(2vw,3vw,3vw);
	}

.opacidad{
	opacity: 0;
}
.certificados {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imgCursos {
    width: 400px;
    height: 80%;
    display: flex;
}
.imgSegundoBloqueCursos {
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}
.btncursos {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    bottom: 0;
}










/* ==========================================================================
	Estilos para un espect ratio de 2:1
========================================================================== */
@media (min-aspect-ratio: 2/1) {
	
}

/* ==========================================================================
	Estilos para un espect ratio de 8:5
========================================================================== */
@media (min-aspect-ratio: 8/5) {
	
}






/* ==========================================================================
	Estilos para un especto de pie
========================================================================== */
@media screen and (orientation:portrait){
	:root{
		--margenGlobal: 8vw;
	}
	.onlyLanscape{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}


	
}
/* ==========================================================================
	Estilos para un especto de pie pero en dispositivos pequeños
========================================================================== */
@media screen and (orientation:portrait) and (max-width: 680px){
	
}







/* ==========================================================================
	Estilos para un especto de acostado
========================================================================== */
@media screen and (orientation:landscape){
	.onlyPortrait{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}	
}
/* ==========================================================================
	Estilos para un especto acostado pero en dispositivos medianos
========================================================================== */
@media screen and (orientation:landscape) and (max-width: 980px){

}
/* ==========================================================================
	Estilos para un espect acostado pero en dispositivos chicos
========================================================================== */
@media screen and (orientation:landscape) and (max-width: 860px){

}
/* ==========================================================================
	Estilos para un espect acostado pero en dispositivos chicos
========================================================================== */
@media screen and (orientation:landscape) and (max-width: 720px){
	
}
/* ==========================================================================
	Estilos para un espect acostado pero en dispositivos muy chicos
========================================================================== */
@media screen and (orientation:landscape) and (max-height: 460px){

}
















/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 1600px) {

}









/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 1280px) {

}







/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 1024px) {

}






/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (min-width: 860px) {
	
}








/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 846px) {
	:root{
		--margenGlobal: 8vw;
	}

	.bloqueSobreMi {
		width: 100%;
		height: 85%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.tituloyDescripcionSobreMi {
		width: 100%;
		height: 45%;
		position: relative;
	}
	
	.descripcionSobreMi {
		width: 100%;
	
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	.tituloSobreMi {
		width: 91%;
		height: 20%;
		align-self: center;
		border-radius: 20px;
	}
	.textoDescripcionSobreMi {
		height: auto;
		text-align: justify;
		margin: 0 20px;
	}
	.imagenSobreMi {
		width: 100%;
		height: 50%;
	}
	/* .imgSobreMi {
		width: 220px;
		height: 220px;
	} */
	.btn {
		width: 100px;
		height: 45px;
		font-size: clamp(1.5rem , 100vw,1.5rem);
	}
	.button{
		width: 100px;
		height: 45px;
		font-size: clamp(1.5rem , 100vw,1.5rem);
	}

	.segundoBloque {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		align-items: center;
		flex-direction: column;
	}
	.tituloEImgSegundoBloque {
		width: 90%;
		height: 50%;
	}

	.tecnologiaSegundoBloque {
		width: 95%;
		height: 90%;
		display: flex;
		
	
		flex-wrap: wrap;
		
		overflow-y: scroll;
		justify-content: space-evenly;
		align-items: center;
	}
	.cajameMoramaReposo {
		display: flex;
		width: 100%;
		justify-content: center;
		height: 50%;
		gap: 5px;
		align-items: center;
	}
	.imgTecnologias{
		width:calc(100vw / 5);
		height:calc(100vw / 5);
		display: flex;
	}
	
	.imgSegundoBloque {
		width: 100%;
		object-fit: cover;
	}
	.descripcionyBotoneSegundoBloque {
		width: 100%;
		position: relative;
		height: 50%;
	}
	.Textoybtn {
		width: 100%;
		height: 83%;
		display: flex;
		position: absolute;
		flex-wrap: wrap;
		top: 0;
		flex-direction: column;
		align-items: center;
		overflow-y: auto;
		overflow-x: hidden;
	}
	.descripcionjuego {
		width: 100%;
		height: 100%;
		display: flex;
		position: absolute;
		top: 0;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.tituloJuego {
		width: 80%;
		height: 18%;
		display: flex;
		background-color: #000;
		border-radius: 20px 20px 0 0;
		justify-content: center;
		text-align: center;
		font-size: clamp(1vw,7vw,7vw);
		align-items: center;
		border-bottom: solid 3px gray;
		padding: 0 0 10px 0;
	}
	.comparadorMemorama {
		width: 80%;
		height: 50%;
		background: chocolate;
	}
	.comMem {
		width: 90%;
		height: 100%;
		display: flex;
		/* letter-spacing: 5px; */
		border-radius: 20px 20px 0 0;
		position: relative;
		left: 20px;
		text-align: start;
		align-items: center;
		justify-content: center;
	}
	.botonesJuego {
		width: 80%;
		height: 23%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: solid 3px gray;
	}
	.intentosNumero {
		width: 150px;
		height: 45px;
		font-size: clamp(1rem, 2vw, 2rem);
		display: flex;
		border-radius: 20px;
		background-color: chocolate;
		justify-content: center;
		align-items: center;
	}
	.descripcionSegundoBloque {
		width: 90%;
		height: 100%;
		position: relative;
		letter-spacing: 2px;
		display: flex;
		flex-wrap: wrap;
		font-size: clamp(2vw,4vw,4vw);
		margin: 0 auto;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.certificados {
		width: auto;
		height: 300px;
		position: relative;
	}
	.imgCursos {
		height: 80%;
		display: flex;
	}
	.btncursos {
		display: flex;
		position: absolute;
		width: 100%;
		justify-content: center;
		align-items: center;
		bottom: 0;
	}



	/* .textoSegundoBloque {
		width: 100%;
		height: 10%;
		background: blueviolet;
	}
	.botoneSegundoBloque {
		width: 100%;
		height: 20%;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.btnSegundoBloque {
		width: 100px;
		height: 50px;
		background: #d08484;
	} */
	.tercerBloque {
		width: 100%;
		height: 85%;
	}
	.camposTercerBloque {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.inpt {
		border: none;
		border-radius: 15px;
		height: 5vh;
	}
	form.formulario {
		width: 90%;
	}
	.contactoTexto {
		align-self: center;
		font-size: clamp(2vw,10vw,10vw);
	}
	.camposText {
		font-size: clamp(2vw,5vw,5vw);
	}
	.botonFormulario {
		width: 100%;
		height: 15%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	
	.pt{
		text-decoration: none;
	}
	.puerta{
		display:none;
	}
	::-webkit-scrollbar{
		width:.5em;		
	}
	::-webkit-scrollbar-track{
		background:rgb(0, 0, 0);
		margin-inline: 1em;
	}
	::-webkit-scrollbar-thumb{
		background:#0bbe50 ;
		border-radius:100vw;
	}
	@keyframes imgPrimer{
		from{transform:scale(0); opacity:0;transform-origin: 50% 50% ; }
		to{transform:scale(1); opacity:1;transform-origin: 50% 50% ; }
	}
	.imgSobreMi::before {
		content: " ";
		width: 100%;
		height: 100%;
		position: absolute;
		border-radius: 50%;
		z-index: -1;
		background-color: #000;
		filter: drop-shadow(0px 0px 4px cyan);
	}
}






@media only screen and (max-width: 760px){
	.onlyDesktop{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}
}
@media only screen and (min-width: 760px){
	.onlyMobile{
		display: none !important;
		visibility: hidden !important;
		width: 0px !important;
		height: 0px !important;
		overflow: hidden !important;
	}
}







/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 680px) {
	
}






/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 590px) {
	
}





/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 480px) {
	
}










/* ==========================================================================
	Media Queries
========================================================================== */
@media only screen and (max-width: 370px) {
	
}










